#menu
{
    background-color: #80ED99;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    height: 121px;
}

.navbar-brand
{
  position: relative;
  top: 14px;
  left: 10px;
}

.navbar-collapse
{
  display: flex;
  justify-content: flex-end;
  margin-right: 15px;
}

.nav-link
{
    background-color: #2D7D90;
    color: white;
    width: 30px;
    height: 20px;
    border: #2D7D90;
    border-radius: 30px;
    padding: 10px;
    text-decoration: none;
    margin: 15px;
}

.menu-right
{
  color: white;
}

.dropdown-item
{
  background-color: #E34421;
  color: white;
}

#name_label
{
    font-size: 24px;
    margin: 15px;
}

.card-body
{
  font-size: 24px;
  margin: 15px;
}

h2
{
  font-size: 48px;
  display: flex;
  justify-content: center;
}

.centerInterface_profile
{
  margin: auto;
  padding: 10px
}
.container
{
    background-color: #80ED99;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
}

.nav-item
{
    background-color: #2D7D90;
    color: white;
}
